.wedge
  .right.column
    #next
      %h2 Continue Learning
      = link_to next_task.title, task_path(next_task)
    = image_tag('/images/Proficiency.png', :id => 'proficiency')
  .left.column
    = image_tag('/images/ProgressMountain.png', :id => 'mountain')
