.wedge
  .right.column
    = image_tag('/images/ContinueLearning.png', :class => 'next')
    = image_tag('/images/Proficiency.png', :class => 'proficiency')
  .left.column
    = image_tag('/images/ProgressMountain.png', :class => 'mountain')
