/* ========= Tutorial Page ========== */

html, body, iframe {
  height: 100%;
}

html {
  overflow-y: hidden;
}

body {
  width: 100%;
  overflow-x: hidden;
}

#tutorialheader, #tutorialbody, iframe {
  position: absolute;
  width: 100%;
  left: 0px;
}

#tutorialbody {
  top: 100px;
  bottom: 0px;
}

iframe {
  background-color: white;
}

#tutorialheader form {
  display: inline;
}

/* ========= fake tutorial page ===== */

.fake_iframe .content {
  text-align: center;
}

.fake_iframe img {
  margin-left: -170px;
  margin-right: -170px
}
