body {
  background: #444444;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.2;
}

.application .content {
  color: white;
  padding-left: 6em;
  /*padding-right: 6em;*/
}

.marketing {
  background: url(../images/new_bg.png) repeat;
}

.dashboard, .tutorial, .start, .congrats, .mobile {
  background: #444444;
}

.debug {
  clear: both;
  background: gray;
  color: black;
}

.tutorial ul {
  margin-left: 10px;
}

#logo {
  position: relative;
  top: 10px;
  right: 27px;
}
	
	#logo img, #logo_2 img, #logo_2 a img {
		height: 75px;
	}
	
#logo_2 {
  position: absolute;
  top: 11px;
  left: 2em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  position:relative;
}

p {
  color: white;
  font-size: 16px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 21px;
}

nav {
  margin: 0;
  position: absolute;
  top: 40px;
  right: 2em;
  text-align: right;
}

nav .profile-pic {
  display:inline;
  padding-right: 20px;
  vertical-align: top;
  margin-top: -25px;
}

nav a img {
  margin-top: -20px;
}

nav ul {
  position: relative;
  display: inline;
  height: 80px;
}

nav li {
  position: relative;
  display: inline;
  margin-right: 20px;
  font-size: 16px;
  font-family: Helvetica Neue, Helvetica;
  height:50px;
  list-style-type:none;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul li.last {
  border-right: none;
}

nav ul li a {
  color: black;
  margin-right: 24px;
  text-decoration: none;
}

nav li a:hover {
  color: #791515;
  text-shadow: 0 1px 1px #000;
}

#main-header {
  width: 100%;
  height: 100px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.27, #F7F4F7),
    color-stop(0.54, #FFFFFF)
);
background-image: -moz-linear-gradient(
    center bottom,
    #F7F4F7 27%,
    #FFFFFF 54%
);

box-shadow: 0 3px 8px #000000;
-moz-box-shadow: 0 3px 8px #000000;
-webkit-box-shadow: 0 3px 8px #000000;


  /*background: url('/images/header-bg.png') repeat-x;*/
}

logo img {
  position: relative;
  top: 10px;
}

.cl-30 {
	font-size: 1px;
	height: 30px;
}



/* =============== Landing Page CSS =========== */

#thank_you h2
{
  color: white;
  margin-top: 50px;
  width: 800px;

}

#thank_you a
{
  color: white;
}

#splash img {
}


.landing-form {
  width: 260px;
  position: absolute;
  left: 70px;
  top: 200px;
}


.landing-form label {
  color: white;
}

.landing-form input{
  height: 18px;
  width: 250px;
  font-size: 15px;
  position: relative;
    margin-bottom: 15px;
}

.landing-form #subscriber_submit{
  height: 85px;
  width: 250px;
  margin: 0 0 0 -10px;
  background: url('images/button.png') transparent;
  border: 0;
}


#home-button {
  bottom: 476px;
  left: 75px;
  position: relative;
}

/* ========= Dashboard =============== */

.wedge {
  width: 1000px;
  position: relative;
}

.column {
  float: right;
  position: relative;
}

.right.column {
  clear: right;
  width: 318px;
}

#next {
  width: 318px;
  height: 147px;
  background: url(/images/ContinueLearning.png)
}

#next h2 {
  margin-bottom: 1.5em;
  visibility: hidden;
}

#next a {
  display: block;
  padding: 0.5em;
  margin: 2em;
  text-align: center;
  color: white;
  background-color: rgb(158, 50, 50);
}

/* ======== fake dashboard ========= */

#fake_dashboard {
  margin-top: 4em;
}

/* ========= Help Dialog =========== */

#cboxLoadedContent .dialog * {
  /*font-size: 1.4em;*/
}

#cboxLoadedContent * {
  color: black;
}

#cboxLoadedContent .debug {
  display: none;
}

#cboxLoadedContent .help_confirm {
  width: 35em;
  height: 28em;
  text-align: center;
}

#cboxLoadedContent .help_confirm * {
 /* font-size: 4em; */
}

/* ========= Start Task Page ========== */

#start_task {
  bottom: 150px;
  left: 89px;
  position: relative;
}

#task_1 {
  top: 215px;
  left: 730px;
  position: absolute;
}

/* ===== Continue Task ========== */

#continue {
  bottom: 209px;
  left: 279px;
  position: relative;
}

/* ===== Contact ======= */

.contact .contact {
  font-size: 3em;
  margin-top: 1em;
}

.contact .contact a {
  color: white;
}

/* ======== Show Task (Intro) ====== */

.title {
  font-size: 5em;
  margin: 1em;
  text-align: center;
}

.detail * {
  font-size: 2em;
  margin: 1em;
  text-align: center;
}

.link a {
  display: block;
  font-size: 3em;
  padding: 0.5em;
  margin: 1em;
  margin-left: 2em;
  margin-right: 2em;
  text-align: center;
  color: white;
  background-color: rgb(158, 50, 50);
}

/* ======== Show Task (Outro) ====== */

.congratulations h2,
.congratulations h3 {
  font-size: 3em;
  text-align: center;
}

.box {
  font-size: 2em;
  color: #6c6c6c;
  background-color: #f5f5f5;
  padding-top: 1em;
}

.box h3 {
  background-color: #9e3232;
  text-align: center;
  color: white;
}

.box ul {
  margin-top: 1em;
  margin-left: 3em;
  margin-right: 3em;
}

.box a {
  display: inline-block;
  padding: 0.5em;
  margin: 1em;
  margin-left: 2em;
  margin-right: 2em;
  text-align: center;
  color: white;
  background-color: #9e3232;
}

/* ======== Help message received styles ======== */

#help_response_message {
  position: absolute;
  top: 100px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  padding: 0.5em;
  background: #31BA00;
	
background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, #44CC0E),
    color-stop(0.58, #32BA00)
);
background-image: -moz-linear-gradient(
    center bottom,
    #44CC0E 0%,
    #32BA00 58%
);

	
  display: none;
  padding: 1em;
  text-align: center;
  /*border: .5px solid #ffffff;*/
  z-index: 10000;
border-bottom: 3px solid rgba(0,0,0, 0.5);
}

#help_response_message .img {
  display: inline;
}

#help_response_message .img img {
  border: 1px solid #aaa;
  background-color: #fff;
  height: 32px;
  padding: 2px;
  vertical-align: middle;
}

#help_response_message .msg {
  	color: white;
	display: inline;
	font-size: 1.2em;
	font-weight: bold;
	letter-spacing: 0.5px;
	padding-left: 0.5em;
	text-shadow: 0 1px 1px #316000;
}

	#help_response_message .msg a {
		color: black;
		font-size: 0.8em;
		padding: 5px;
		text-decoration: none;
	}
	
		#help_response_message .msg a:hover {
			color: #444444;
		}


#help_response .response_title {
  font-size: 2em;
  font-weight: bold;
  background-color: #31BA00;
  padding: 0.2em 0.3em;
}

#help_response .img {
 display: inline;
}

#help_response .img img{
  border: 1px solid #999;
  background-color: #fff;
  height: 50px;
  padding: 3px;
  vertical-align: middle;
}

#help_response .user_name {
  	color: white;
	display: inline;
	text-shadow: 0 1px 2px #000000;
	vertical-align: top;
}

#help_response .response {
  padding: 1em;
  font-family: Courier, "Courier New", monospace;
  border: 1px solid #31BA00;
}

#get_help {
  font-size: 1.2em;
  height: 20em;
}

#get_help .help_detail{
  margin: 0 1em;
}

#get_help .help_title {
  font-weight: bold;
  padding: 0.25em;
  font-size: 2em;
  color: #a53234;
  text-align: center;
}

#get_help .help_detail .question {
  padding: 1em 0 0.5em 0;
  color: #636363;
}

#get_help .help_detail textarea {
  border: 2px inset #a57979;
  font-size: 1em;
}

#get_help .send_to {
  color: #636363;
}

#get_help .group {
  color: #000;
}

#get_help .submit {
  padding-top: 1em;
  text-align: center;
}

#call_for_help .msg {
  font-weight: bold;
  padding: 0.25em;
  font-size: 2em;
  color: #a53234;
  text-align: center;
}


#call_for_help .batman img {
  border: 0px;
  padding: 0 1em;
  width: 500px;
}
