body {
  background: #444444;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.2;
}

.application .content {
  color: white;
  padding-left: 6em;
  padding-right: 6em;
}

.marketing {
  background: url(../images/new_bg.png) repeat;
}

.dashboard, .tutorial, .start, .congrats, .mobile {
  background: #444444;
}

.debug {
  clear: both;
  background: gray;
  color: black;
}

.tutorial ul {
  margin-left: 10px;
}

.header_links_2 {
  bottom: 7px;
  left: 100px;
  position: relative;
}

#logo {
  position: relative;
  top: 10px;
  right: 27px;
}

#logo_2 {
  position: relative;
  top: 11px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  position:relative;
}

p {
  color: white;
  font-size: 16px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 21px;
}

nav {
  float: right;
  margin: 0;
  position: absolute;
  top: 20px;
  right: 0px;
}

nav li {
  float:left;
  font-size: 16px;
  font-family: Helvetica Neue, Helvetica;
  height:50px;
  line-height:35px;
  list-style-type:none;
  margin-right:25px;
  position:relative;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul li a {
  color: black;
  display: block;
  margin-right: 24px;
  text-decoration: none;
  text-shadow: 0 1px 2px #000000;
}

nav li a:hover {
  color: #7DB1DD;
  text-shadow: 0 1px 1px #000;
}

#main-header {
  height: 100px;
  background: white;
}

logo img {
  position: relative;
  top: 10px;
}



/* =============== Landing Page CSS =========== */

#thank_you h2
{
  color: white;
  margin-top: 50px;
  width: 800px;

}

#thank_you a
{
  color: white;
}

#splash img {
}


.landing-form {
  width: 260px;
  position: absolute;
  left: 70px;
  top: 200px;
}


.landing-form label {
  color: white;
}

.landing-form input{
  height: 18px;
  width: 250px;
  font-size: 15px;
  position: relative;
    margin-bottom: 15px;
}

.landing-form #subscriber_submit{
  height: 85px;
  width: 250px;
  margin: 0 0 0 -10px;
  background: url('images/button.png') transparent;
  border: 0;
}


#home-button {
  bottom: 476px;
  left: 75px;
  position: relative;
}

/* ========= Dashboard =============== */

.wedge {
  width: 1000px;
  position: relative;
}

.column {
  float: right;
  position: relative;
}

.right.column {
  clear: right;
  width: 318px;
}

#next {
  width: 318px;
  height: 147px;
  background: url(/images/ContinueLearning.png)
}

#next h2 {
  margin-bottom: 1.5em;
  visibility: hidden;
}

#next a {
  display: block;
  padding: 0.5em;
  margin: 2em;
  text-align: center;
  color: white;
  background-color: rgb(158, 50, 50);
}

/* ========= Tutorial Page ========== */

body.tasks.tutorial {
  overflow-y: hidden;
}

#tutorialheader form {
  display: inline;
}

#tutorialbody {
  height: 100%;
  width: 100%;
  background-color: white;
}

/* ========= Help Dialog =========== */

#cboxLoadedContent .dialog * {
  font-size: 1.4em;
}

#cboxLoadedContent * {
  color: black;
}

#cboxLoadedContent .debug {
  display: none;
}

#cboxLoadedContent .help_confirm {
  width: 40em;
  height: 30em;
  text-align: center;
}

#cboxLoadedContent .help_confirm * {
  font-size: 4em;
}

/* ========= Start Task Page ========== */

#start_task {
  bottom: 150px;
  left: 89px;
  position: relative;
}

#task_1 {
  bottom: 726px;
  float: right;
  left: 15px;
  position: relative;
}

/* ===== Continue Task ========== */

#continue {
  bottom: 209px;
  left: 279px;
  position: relative;
}

/* ===== Contact ======= */

.contact .contact {
  font-size: 3em;
  margin-top: 1em;
}

.contact .contact a {
  color: white;
}

/* ======== Show Task (Intro) ====== */

.title {
  font-size: 5em;
  margin: 1em;
  text-align: center;
}

.detail * {
  font-size: 2em;
  margin: 1em;
  text-align: center;
}

.link a {
  display: block;
  font-size: 3em;
  padding: 0.5em;
  margin: 1em;
  margin-left: 2em;
  margin-right: 2em;
  text-align: center;
  color: white;
  background-color: rgb(158, 50, 50);
}

/* ======== Show Task (Outro) ====== */

.congratulations h2,
.congratulations h3 {
  font-size: 3em;
  text-align: center;
}

.box {
  font-size: 2em;
  color: #6c6c6c;
  background-color: #f5f5f5;
  padding-top: 1em;
}

.box h3 {
  background-color: #9e3232;
  text-align: center;
  color: white;
}

.box ul {
  margin-top: 1em;
  margin-left: 3em;
  margin-right: 3em;
}

.box a {
  display: inline-block;
  padding: 0.5em;
  margin: 1em;
  margin-left: 2em;
  margin-right: 2em;
  text-align: center;
  color: white;
  background-color: #9e3232;
}

/* ======== Help message received styles ======== */

#help_response_message {
  display: absolute;
  
  padding: 1em;
  background-color: #ff0;
  display: none;
  padding: 1em;

}

#help_response .response_title {
  font-size: 2em;
  font-weight: bold;
  background-color: #aaa;
  padding: 0.2em 0.3em;
}

#help_response .img {
 display: inline;
}

#help_response .img img{
  border: 1px solid #999;
  background-color: #fff;
  height: 50px;
  padding: 3px;
}

#help_response .user_name {
  display: inline;
  vertical-align: top;
}

#help_response .response {
  padding: 1em;
  font-family: Courier, "Courier New", monospace;
  border: 1px solid #aaa;
}

