body {
  background: url(../images/full_bg.png) repeat;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.2;
}

p {
	color: white;
	font-size: 16px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 21px;
}

/* =============== Landing Page CSS =========== */



#splash img {
	margin: 0 auto;
}

#tutorialheader {
  height: 2em;
  border-bottom: solid black 0.1em;
}

#tutorialheader form {
  display: inline;
}

#tutorialbody {
  height: 100%;
  width: 100%;
  background-color: white;
}
