%h2 
  About

%p The year is 2342. We have failed as a human society. We were once a society of the Great Builders, craftsmen who chose to create solutions and build lasting institutions for the world to be a better place. However, we humans chose to become complacent and selfish. However, there is one last hope:  Code Mountain. It’s our chance to become builders and code our way to the top.

%p Code Mountain is a game that teaches beginners how to code in Ruby on Rails. 

%p We make learning how to code fun. How?  We give you pre-set tasks, allow you to track them, and offer you valuable resources - all in a cool game environment. 

%p We throw out all old constraints and preconceptions about who is supposed to be able to pickup coding. Learning how to code is no longer an intimidating black hole. Instead, through Code Mountain, it becomes fun and ___. 

%p Begin your journey now (link to Sign up). 

%p Find out more (link to FAQ).