.container
  %img{:alt => "Task 1: Rails for Zombies", :src => "images/tasks_no_button.png"}/
  %a{:href => mobile_path}
    %img#continue{:alt => "Task 1: Rails for Zombies", :src => "images/task_slice.png"}/