.container
  %img#fake_dashboard{:alt => "Your Dashboard", :src => "images/dashboard-main.png"}
  %a{:href => tutorial_path}
    %img#task_1{:alt => "Your Dashboard", :src => "images/continue_tutorial.jpg"}
  
