%h2 Do This Task
%div
  %h3 Rails For Zombies
%div
  %h3 What You Learn
  %ul
    %li database modeling
    %li basic HTML

%div
  =link_to 'Complete', complete_path
  =link_to "I Can't Do This", help_path

