.container
  %img{:alt => "FAQ", :src => "images/faq_images_03.png"}/
  %h2 
  What is Code Mountain exactly?  
  %p Code Mountain is a game that teaches beginners how to code in Ruby on Rails. 
  %h2 
  Why should I sign up for Code Mountain?
  %p Because you want learning how to code to be fun. You don’t want to have to go through all the pain of learning how to code. 
  %h2 Why do I want to learn how to code in the first place?
  %p You want to build your own solutions to problems. 
  %h2 
  What is Ruby on Rails?
  %p A popular web application programming language and framework.
  %h2 
  Why Ruby on Rails?
  %p It is accessible and easier for beginners to pick up. 
  %h2 
  How does Code Mountain work?
  %p You sign up, follow a list of pre-set tasks, track your progress, and use resources along the way. You are also plugged into a community of people who are willing to help you. 

  %h2 
    How much does Code Mountain cost?

  %p It’s free for the first 2 levels are free. Then it costs $____.  (includes awesome mobile app - link here). 

  %h2 
    Can I quit whenever I want if I don’t like it?

  %p Absolutely. Though, we will say that we think you’ll like Code Mountain so much, you won’t really want to ever leave. 

  %h2 
    What if I get stuck?

  %p We’ve built in functionality so you can get personalized help on specific challenges you run into along the way.

  %h2 
    Who is Code Mountain for?

  %p People who don’t consider themselves software developers. 

  %h2 
    Why was Code Mountain created?

  %p We tried to learn how to code and it was really hard. We believed there was a better way, and so created it.