#help_response
  .response_title
    .img
      = image_tag('/images/mcgeeforavp.jpg')
    .user_name
      Mike says...
  .response
    Hi Neal,
    %br
    I heard about the problem you're having...
    %br
    %br
    Tough shit. LOLz!
    %br
    &mdash; Mike
  
