#help_response
  .response_title
    .img
      = image_tag('/images/mcgeeforavp.jpg')
    .user_name
      Mike says...
  .response
    Hi Neal,
    %br
    I heard about the issue you're having... total bummer.
    %br
    Here is the answer to the problem... 42.
    %br
    &mdash; Mike
  
