#help_response
  .response_title
    .img
      = image_tag('/images/ri_avatar.png')
    .user_name
      Ri says...
  .response
    Hi Neal,
    %br
    You'll have to assign the zombie to a variable so you can save it afterwards.
    %br
    %br
    z = Zombie.find(3)
    %br
    z.graveyard = 'Benny Hills Memorial'
    %br
    z.save
    %br
    %br
    &mdash; Ri
  
