#splash.container
  %img{:alt => "Welcome to Code Mountain", :src => "images/landing_page_3.png"}/
  %a{:href => dashboard_path}
    %img#home-button{:alt => "Begin your journey now. (it’s free!)", :src => "images/home_button.png"}/
  
  
