%h1 
  Your journey to Code Mountain begins now.
%p Learning to code is hard. But it doesn’t have to be. 
%p Welcome to Code Mountain - where you are given the right tools, path, and community to code your way to the top. 
%p Begin your journey now. [Link to sign up] (it’s free!)
