#tagline-action
  %h1 
  Learning to code just got easier. 
  %p Welcome to Code Mountain - where you are given the right tools, path, and community to code your way to the top. 
  %img{:alt => "Begin your journey now. (it’s free!)", :src => "images/journey_button_03.png"}
#splash
  %img{:alt => "Code Mountain", :src => "images/main_splash_03.png"}/
  
