.container
  %img{:alt => "Task 1: Rails for Zombies", :src => "images/task_1_cut.png"}/
  %a{:href => tutorial_path}
    %img#start_task{:alt => "Start The Rails for Zombies Tutorial", :src => "images/task_1_button_cut.png"}/
  
