.container
  %img{:alt => "Task 1: Rails for Zombies", :src => "images/task_1_cut.png"}/
  %img{:alt => "Start The Rails for Zombies Tutorial", :src => "images/task_1_button_cut.png"}/
  = link_to image_tag('imstuck.png'), help_path, :class => 'help'
  
