#thank_you.container
  %h2
    Thank you for your participation. Please help us improve the site by following the link below and filling out a
    %a{:href => "http://surveys.questionpro.com/akira/TakeSurvey?id=2483847"}
      short survey.
  
    
  
  
