#main-header
  .container
    #logo
      = link_to image_tag( '/images/codemt_logo.png'), root_path
  
  %nav
    %ul.header_links
      = link_to image_tag('imstuck.png'), help_path, :class => 'help'
      = link_to image_tag('imstuck.png'), help_path, :class => 'help'
.container
  %img{:alt => "Welcome to Code Mountain", :src => "images/rails_for_zombies_02.png"}/